

.character-detail-container-background {
    position: relative;
    width: 100%;
    color: white;
    text-align: left;
}

.character-detail-container {
    background-color: #505050;
    position: relative;
    top: 30px;
    left: 2%;
    width: 96%;
    color: white;
    text-align: left;
    border-color: #505050;
    border-radius: 5px;
} 

.image-and-name-container-character-detail {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid grey;
}

.character-image-character-detail {
    height: 150px;
    width: 150px;
}

.name-container-character-detail {
    position: absolute;
    top: 70px;
    left: 170px;
    font-size: 30px;
    font-weight: bold;
}

.status-container-character-detail {
    font-size: 20px;
    font-weight: normal;
}





.profile-container-character-detail {
    position: relative;
    width: 94%;
    left: 3%;
    margin-top: 20px;
}

.text-container-character-detail {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.profile-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}





.location-container-character-detail {
    position: relative;
    width: 94%;
    left: 3%;
    margin-top: 20px;
}

.location-text {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

hr {
    border: 1px solid grey;
}