
.character-card-container {
    background-color: #505050;
    margin: 20px;
    color: white;
} 

.character-card-container:hover {
    border-color: #66aee9e3;
    box-shadow: 0 0 20px lightgray;
    cursor: pointer;
} 

.text-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 15px;
}

hr {
    border-top: 1px solid darkgreen;
}

.character-image {
    position: relative;
}


.name-container {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: 4px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.5;
}

.view-profile-link {
    background-color: darkgrey;
    font-size: 20px;
    padding: 10px;
}