.App {
  text-align: center;
}

.header {
  width: 100%;
  height: 215px;
  background-image: url("./assets/rick-and-morty-react-img.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: black;
}

.header:hover {
  cursor: pointer;
} 