
.character-list-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-field {
    background-color: rgb(65, 65, 65);
    border: solid #24282a 1px;
    border-radius: 10px;
    height: 40px;
    width: 95%;
    margin-top: 20px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 0 20px;
}

.search-field:focus {
    background-color: rgb(65, 65, 65);
    box-shadow: 0 0 8px grey;
    border: solid grey 1px;
    border-radius: 10px;
    height: 40px;
    width: 95%;
    margin-top: 20px;
}

.load-more-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

.load-more-button button {
    background-color: grey;
    outline: none;
    margin: 50px;
    transform: scale(2);
}